@import url(https://fonts.googleapis.com/css?family=Bitter);

$bitter: "Bitter", serif;
$normalBlue: #4baced;

body,
html {
  background:#a2c4db;
  color: white;
  margin: 0;
  padding: 0;
  z-index: -100;
}

.flex {
  display: flex;
}

.flex--column {
  display: flex;
  flex-direction: column;

  h1 {
    text-shadow: 3px 2px #4baced;
    margin-left: 20px;
  }
}

.block {
  display: block;
}

.autoMargin {
  margin: auto;
}

.width80 {
  width: 80%;
  margin-left: 5px;
  transition: all 0.4s;
}

.spaceBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.blueBackground {
  background: $normalBlue;
}

.lowZ {
  z-index: -10;
}

.column {
  flex: 1;

  label {
    background: $normalBlue;
    padding-left: 20px;
    font-weight: 600;
    font-size: 1.2em;
    text-shadow: 1px 2px #164d72;
    border-bottom: 1px solid #164d72;
    border-radius: 0 0 0 16px;

    &:before{
      content: "";
      position: absolute;
      width: 20px;
      height: 80px;
      background: $normalBlue;
      margin-right: 32px;
      left: 5px;

      @media(min-width: 640px) {
        left: 10%;
      }
    }
  }
}

.column--wide {
  flex: 2;
}

.topAndBottomMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.miniTopAndBottomMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.topAndBottomPadding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.miniMarginLeft {
  margin-left: 5px;
}

.leftAndRightMargin {
  margin-left: 10px;
  margin-right: 10px;
}

.rightMargin {
  margin-right: 10px;
}

.bigLeftMargin {
  margin-left: 25px;
}

.bigRightMargin {
  margin-right: 25px;
}

.resultDiv {
  background: #378ec8;
  width: 95%;
  border-right: 4px double rgb(4, 4, 94);
  border-bottom: 4px solid rgb(4, 4, 94);
  margin-top: 10px;
  padding: 10px 0 0 10px;
  border-radius: 0 0 35px 0;
  text-shadow: -1.1px 1.2px black;
  font-family: $bitter;
  transition: all 0.4s;

  @media(min-width: 800px) {
    margin-left: 25px;
  }
}

.selector {
  max-width: 120px;
  padding: 10px 5px 10px 5px;
  background: #4baced;
  color: black;
  border: 1px solid #4baced;
  border-right: 1px solid #124668;
  border-bottom: 1px solid #124668;
  font-weight: 700;
  transition: all 0.3s;
  border-radius: 10%;
  margin: 0 10px 10px 0;

  &:hover {
    background: #8ac5ed;
  }

}

.wrap {
  flex-wrap: wrap;
}

.options {
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.options2 {

  button {
    margin-right: 20px;
  }
  
  @media(min-width: 640px) {
    margin: 10px auto 10px auto;
  }
}

.active {
  background: #124668;
  color: white;

  &:hover {
    background: #124668;
  }
}

.searchBar {
  margin: auto;
  display: inline-block;
  margin: 0 0 10px 33%;
  width: 40%;
}

.floatRight {
  float: right;
}

.statusButton {
  padding: 10px 5px 10px 7px;
  background: #b6d9f0;
  border: 1px hidden;
  border-radius: 12px;
  box-shadow: 0 0 12px #124668;
  font-family: $bitter;
  transition: all 0.4s;

  &:hover {
    background: #124668;
    color: #b6d9f0;
  }
}

.popupDiv {
  height: 200px;
  min-width: 300px;
  display: block;
  color: #124668;

  div {
    display: block;
    height: 100%;
  }

  span {
    display: block;
    margin-top: 30px;
    text-shadow: none;
  }

  input {
    margin: 10px 0 0 10px;
    display: block;
    width: 90%;
    height: 20px;
  }

  button {
    color: white;
    background: #124668;
    border: 1px hidden;
    border-radius: 15%;
    margin-top: 10px;
    transition: all 0.5s;
    padding: 10px;
    font-size: 1.1em;

    &:hover {
      background: #63c1d1;
    }
  }
  
  .closeButton {
    position: absolute;
    top: -27px;
    height: 40px;
    width: 40px;
    right: -20px;
    background: rgba(0, 110 , 152, 1);
    color: white;
    border-radius: 50%;
    font-weight: 900;
    font-size: 1.1em;
    transition: all 0.4s;
    padding: 0px;

    &:active, &:focus {
      outline: none;
    }

    &:hover {
      color: rgba(0, 110 , 152, 1);
      background: white;
      border: 1px solid rgba(0, 110 , 152, 1);
    }
  }

}

.closeButton {
  position: absolute;
  top: -10px;
  height: 20px;
  width: 20px;
  right: -10px;
  background: rgba(0,0,100,0.8);
  color: white;
  border-radius: 50%;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: #a2c4db;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media(min-width: 640px) {
  .width80 {
    margin: auto;
  }
}
