@import url(https://fonts.googleapis.com/css?family=Bitter);

$bitter: "Bitter", serif;

body,
html {
  background:#a2c4db;
  color: white;
}

.flex {
  display: flex;
}

.width80 {
  width: 80%;
  margin: auto;
}

.spaceBetween {
  justify-content: space-between;
}

.column {
  flex: 1;
}

.column--wide {
  flex: 2;
}

.topAndBottomMargin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.miniTopAndBottomMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.resultDiv {
  background: #378ec8;
  width: 95%;
  border-right: 4px double rgb(4, 4, 94);
  border-bottom: 4px solid rgb(4, 4, 94);
  margin-bottom: 10px;
  padding: 10px 0 0 10px;
  border-radius: 0 0 35px 0;
  text-shadow: -1.1px 1.2px black;
  font-family: $bitter;
  min-width: 490px;
  transition: all 0.4s;
}

.selector {
  max-width: 120px;
  min-width: 90px;
  padding: 10px 0 10px 0;
}

.red {
  background: red;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: #a2c4db;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
